body {
    background-image: linear-gradient(#7ed6df, #22a6b3);
}
h1 {
    font-family:'Bruno Ace SC' ;
    font-size: 50px;
    font-weight: bold;
}
h3 {
    background-color: #6ab04c;
    font-weight: bold;
    border-radius: 20px;
}
button {
    background-color: #1e90ff;
    height: 40px;
    width: 80px;
    border-radius: 20px;
    font-family: monospace;
    font-weight: bold;
}
canvas {
    box-shadow: 8px 8px 8px  #c7ecee;
    border-radius: 15px;
}